.gif-container {
    
    justify-content: center;
    
    position: relative;
    background-color: var(--container-color);
    border-radius: 20px;
    
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.39);
    
}

.card-title {
    font-size: 18px;
}
.gif-container img {
    width: 100%;
    object-fit: contain;
    padding: 2rem;
    
    
 
}