h1{
    font-size: 2.5rem;
    margin-top: 2rem;
}


.icon-loading {
    animation: rotate 8s linear infinite;
    font-size:7rem;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-right: 3rem;
    
    transition: 1s;
    -webkit-text-stroke: 1px var(--container-color); 
    color: var(--body-color);
}

.icon-loading:hover {
    color: var(--container-color);
}
.searcher {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5rem;
    gap: 2rem;
}

.links-navbar{
    cursor: pointer;
    transition: .5s ease-in-out;
}

.links-navbar:hover {
    transform: translateY(-5px);
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
  }

  @keyframes bounce-1 {
    50%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
  