/* .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: column;
    
    
} */

h1{
    font-size: 2.5rem;
    margin-top: 2rem;
}


.icon-loading {
    animation: rotate 5s linear infinite;
    font-size:6rem;
    cursor: pointer;
}
.searcher {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5rem;
    gap: 2rem;
}

.links-navbar{
    cursor: pointer;

}

@keyframes rotate{
    to{ transform: rotate(360deg); }
  }
  
  